{% extends 'base.html' %}

{% block conteudo %}

    <section class="conteudo">
        <div class="imagem">
            <img src="{{ url_for('static', filename='image/configpic.jpg') }}" alt="">
        </div>
        <div>
            <p>Configure os itens da mensagem na configuração da mensagem e deixe o programa trabalhar por você. <br><br> Escolha a avaliação dos fixos entre: <br><br> &nbsp;&nbsp;&nbsp;&nbsp; &rarr; Mínima <br>&nbsp;&nbsp;&nbsp;&nbsp; &rarr; Detalhada <br>&nbsp;&nbsp;&nbsp;&nbsp; &rarr; Personalizada: (Entrada pelo usuário)</p>
        </div>
    </section>
    <section class="conteudo">
        <div class="imagem">
            <img src="{{ url_for('static', filename='image/msg.jpg') }}" alt="">
        </div>
        <div>
            <p>Evite erros, copie a mensagem gerada pela aplicação e cole-a no canal para tramitar.</p>
        </div>
    </section>
{% endblock %}