{% extends 'base.html' %}

    {% block conteudo %}
    <section class="conteudo">
        <div class="imagem">
            <img src="{{ url_for('static', filename='image/plotagem.png')}}" alt="" style="box-shadow: none;">
        </div>
        <div>
            <p>Visualise a posição, agrupamento em mapa de todos os fixos ou apenas um. <br><br> Visualize aplicando zoom, salve a imagem em varios formatos. <br><br>
            Calcule distância entre um fixo e qualquer ponto de interesse no mapa.</p>
        </div>
    </section>
    <section class="conteudo">
        <div class="imagem">
            <img src="{{ url_for('static', filename='image/propiedades.jpg')}}" alt="">
        </div>
        <div>
            <p>Personalize o mapa, habilite camadas que deseja visualizar, altere cores  de camadas e contornos, bem como a espessura do contorno.<br><br> Escolha e personalize entre varios marcadores disponíveis.</p>
        </div>
    </section>
    <section class="conteudo">
        <div class="imagem">
            <img src="{{ url_for('static', filename='image/camadas.jpg')}}" alt="">
        </div>
        <div>
            <p>Altere a ordem que uma camada se sobrepõe a outra, bem como os arquivos Shapefile.</p>
        </div>
    </section>
    
    {% endblock %}