{% extends 'base.html' %}

    {% block conteudo %}

    <section class="conteudo">
        <div class="imagem">
            <img src="{{ url_for('static', filename='image/visualizacao.jpg')}}" alt="">
        </div>
        <div>
            <p>Após selecionar um arquivo "XML" compatível com a aplicação os dados de interesse serão processados e apresentado ao usuário de forma organizada e de fácill compreensão.<br><br> Será apresentando o melhor fixo com base na maior média registrada no processamento. </p>
        </div>
    </section>
    {% endblock %}